<!doctype html>
<head>
    <title>Cognize - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='cognize-logo-favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/cognize-logo-bg-sm.png') }}" alt="Cognize Logo" width="200" height="200"/>
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <!--h1 class="display-6 fw-bold">Your question was: {{question}}</h1-->
           <div class="form-label fw-bold fs-5">The answer is: </div>
            <p class="fs-5">
                {{answer}}
            </p>
            <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg px-4 gap-3">Try another</a>
          <div class="px-4 py-3 my-2 text-center">
          <div class="form-label fw-bold fs-5">Sources:<div>
          <a href={{url1}}><div class="px-4 py-3 my-2 text-center">1. {{title1}}
          </div>  
          <a href={{url2}}><div class="px-4 py-3 my-2 text-center">2. {{title2}}
          </div>
          <a href={{url3}}><div class="px-4 py-3 my-2 text-center">3. {{title3}}
          </div>
          <a href={{url4}}><div class="px-4 py-3 my-2 text-center">4. {{title4}}
          </div>
          <a href={{url5}}><div class="px-4 py-3 my-2 text-center">5. {{title5}}          
        </div>
     </main>      
   </body>
</html>